@font-face {
    font-family: "popinnes_r";
    src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "popinnes_l";
    src: url(assets/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: "popinnes_sb";
    src: url(assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "popinnes_b";
    src: url(assets/fonts/Poppins-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'popinnes_r', 'Times New Roman', Times, serif;
    background-color: #f7f7f7;
}

.raal_time_chat {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    background-color: white;
    width: 450px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}


/*
Signup Form CSS Code
=====================
*/

.form {
    padding: 25px 30px;
}

.form header {
    font-family: 'popinnes_sb', 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.form .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.form .logo img {
    width: 150px;
}

.form form {
    margin: 25px 0;
}

.form form .error_txt {
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
}

.form form .error_txt.active {
    display: block;
}

.form form .success_txt {
    color: #3c763d;
    background: #dff0d8;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #d6e9c6;
    display: none;
}

.form form .success_txt.active {
    display: block;
}

.form form .name_details {
    display: flex;
}

form .name_details .field:first-child {
    margin-right: 10px;
}

form .name_details .field:last-child {
    margin-left: 10px;
}

.form form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}

.form form .field i {
    color: #ccc;
    position: absolute;
    right: 15px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form form .field i.active::before {
    color: #333;
    content: '\f070';
}

.form form .field input {
    outline: none;
}

.form form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form form .field label {
    margin-bottom: 2px;
}

.form form .image input {
    font-size: 17px;
}

.form form .button input {
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    background: #333;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.form .link {
    margin: 10px 0;
    text-align: center;
    font-size: 17px;
}

.form .link a {
    color: #333;
}

.form .link a:hover {
    text-decoration: underline;
}


/*
end login and reg page css
============================
*/


/*
start users page css
==========================
*/

header.header {
    background: #333;
}

.users_page .header_wrapper {
    display: flex;
    justify-content: space-between;
    height: 66px;
}

.header_wrapper .bars {
    display: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-right: 15px;
}

.users_page .header_wrapper .logo {
    width: 200px;
}

.users_page .header_wrapper .logo img {
    width: 150px;
    margin: 0;
    padding: 0;
}

.users_page .profile {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.users_page .profile img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-right: 10px;
}

.profile .prof_drop_menu {
    position: absolute;
    left: 0;
    top: 66px;
    width: 180px;
    padding: 5px 10px;
    background-color: rgb(70, 68, 68);
    display: flex;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
    display: none;
}

.profile .prof_drop_menu.active {
    display: flex;
}

.profile .prof_drop_menu a {
    color: #ccc;
    font-size: 17px;
    font-family: 'popinnes_r', 'Times New Roman', Times, serif;
    text-transform: capitalize;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2px;
    margin-bottom: 5px;
}

.profile .prof_drop_menu a:hover {
    color: #fff;
}

.profile .prof_drop_menu a:last-child {
    border: none;
}


/*
users area sidebar css
========================
*/

.left_sidebar .sidebar_wrapper {
    background-color: #fff;
    min-height: calc(100vh - 105px);
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 10px;
}

.left_sidebar .sidebar_wrapper header {
    font-family: 'popinnes_sb', 'Times New Roman', Times, serif;
    font-size: 22px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    padding-top: 5px;
}

.sidebar_wrapper .search {
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.search_bar_top .search {
    display: flex;
}

.sidebar_wrapper .search span {
    font-size: 16px;
    color: #333;
}

.search_bar_top .search .text,
.sidebar_wrapper .search .text {
    font-size: 18px;
}

.search_bar_top .search input,
.sidebar_wrapper .search input {
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.search_bar_top .search input {
    position: unset;
}

.sidebar_wrapper .search input.active {
    opacity: 1;
    pointer-events: auto;
}

.search_bar_top .search input {
    opacity: 1;
}

.search_bar_top .search button,
.sidebar_wrapper .search button {
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #333;
    background-color: transparent;
    border-radius: 0 5px 5px 0;
    font-size: 17px;
    cursor: pointer;
}

.search_bar_top .search button {
    color: #fff;
    background-color: #333;
}

.sidebar_wrapper .search button.active {
    color: #fff;
    background-color: #333;
}

.users_list a {
    padding-right: 15px;
    margin-bottom: 15px;
    page-break-after: 10px;
    border-bottom-color: #f1f1f1;
}

.users_list a:last-child {
    border: none;
    margin-bottom: 0;
}

.users_list {
    height: calc(100vh - 240px);
    overflow-y: scroll;
    scrollbar-width: none;
}

.users_list a {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

.chat_area .content,
.users_list a .content {
    display: flex;
    align-items: center;
}

.users_list a .content .details {
    margin-left: 15px;
    color: #000;
}

.chat_area .details span,
.users_list a .content .details span {
    font-size: 18px;
}

.chat_area .details p,
.users_list a .content .details p {
    color: #333;
    font-size: 14px;
}

.chat_area .content img,
.users_list a .content img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.users_list a .status_dot {
    font-size: 12px;
    color: #468669;
}

.users_list a .status_dot.offline {
    font-size: 12px;
    color: #ccc;
}


/*
users main content area 
===========================
*/

.chat_content_wrapper {
    background-color: #fff;
    min-height: calc(100vh - 105px);
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 10px;
}


/*
user main chat area
================================
*/

.chat_content_wrapper .chat_area .details {
    padding-left: 10px;
}

.chat_content_wrapper .chat_area .content {
    border-bottom: 1px solid #e6e6e6;
    padding-left: 10px;
}

.chat_box .chat {
    margin: 15px 0;
}

.chat_box .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat_box {
    height: calc(100vh - 240px);
    overflow-y: scroll;
    scrollbar-width: none;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%), inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat_box .outgoing {
    display: flex;
}

.outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 100px);
}

.outgoing .details p {
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.chat_box .incoming {
    display: flex;
    align-items: flex-end;
}

.chat_box .incoming img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.incoming .details {
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 100px);
}

.incoming .details p {
    background: #fff;
    color: #333;
    border-radius: 18px 18px 18px 0;
}

.chat_area .typing_area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.typing_area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typing_area button {
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}


/*
start footer css
=====================
*/

footer {
    background-color: #333;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #ccc;
    font-size: 16px;
}


/* end footer Css */